@model List<WastingHours.Models.BlogPost>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-md-4">
            <h2>@post.Title</h2>
            <p><time title="@post.Date.ToString()">@post.Date.ToString("dddd d MMMM yyyy")</time></p>
            <p>@post.Description</p>
            <p><a class="btn btn-default" href="#">Read more &raquo;</a></p>
        </div>
    }
</div>
